@page "/config"
@layout MainLayout
@inherits RadzenDh5.Pages.ConfigComponent

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@using Microsoft.AspNetCore.Identity;
@using RadzenDh5.Models
@using Microsoft.AspNetCore.Authorization



@inject Microsoft.Extensions.Localization.IStringLocalizer<Config> L
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
     

      </div>
    </div>
  </ChildContent>
</RadzenContent>
