
@using RadzenDh5.Shared

<div class="row">
    <div class="col-xl-9">
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="C010">
                    <DocComponent Id="C010"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="C030">
                    <DocComponent Id="C030"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="C040">
                    <DocComponent Id="C040"></DocComponent>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>

