@*@page "/dochub"*@
@using RadzenDh5.Shared

<div class="row">
    <div class="col-xl-9">
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="S030">
                    <DocComponent Id="S030"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="S040">
                    <DocComponent Id="S040"></DocComponent>
                </RadzenTabsItem>

                <RadzenTabsItem Text="R030">
                    <DocComponent Id="R030"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="R080">
                    <DocComponent Id="R080"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Q040">
                    <DocComponent Id="Q040"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="Q100">
                    <DocComponent Id="Q100"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="M070">
                    <DocComponent Id="M070"></DocComponent>
                </RadzenTabsItem>
                          <RadzenTabsItem Text="M090">
                <DocComponent Id="M090"></DocComponent>
            </RadzenTabsItem>

            <RadzenTabsItem Text="C010">
                <DocComponent Id="C010"></DocComponent>
            </RadzenTabsItem>
            <RadzenTabsItem Text="C030">
                <DocComponent Id="C030"></DocComponent>
            </RadzenTabsItem>
            <RadzenTabsItem Text="P030">
                <DocComponent Id="P030"></DocComponent>
            </RadzenTabsItem>
            <RadzenTabsItem Text="P070">
                <DocComponent Id="P070"></DocComponent>
            </RadzenTabsItem>
            <RadzenTabsItem Text="P090">
                <DocComponent Id="P090"></DocComponent>
            </RadzenTabsItem>

            </Tabs>
        </RadzenTabs>
    </div>
</div>

