
@using RadzenDh5.Shared

<div class="row">
    <div class="col-xl-9">
        <RadzenTabs>
            <Tabs>

                <RadzenTabsItem Text="R030">
                    <DocComponent Id="R030"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="R040">
                    <DocComponent Id="R040"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="R050">
                    <DocComponent Id="R050"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="R060">
                    <DocComponent Id="R060"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="R070">
                    <DocComponent Id="R070"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="R080">
                    <DocComponent Id="R080"></DocComponent>
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>
    </div>
</div>

