
<h3>DocHub</h3>
@using RadzenDh5.Shared

<div class="row">
    <div class="col-xl-9">
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="S010">
                    <DocComponent Id="S010"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="S020">
                    <DocComponent Id="S020"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="S030">
                    <DocComponent Id="S030"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="S040">
                    <DocComponent Id="S040"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="S050">
                    <DocComponent Id="S050"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="S060">
                    <DocComponent Id="S060"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="S070">
                    <DocComponent Id="S070"></DocComponent>
                </RadzenTabsItem>
                <RadzenTabsItem Text="S080">
                    <DocComponent Id="S080"></DocComponent>
                </RadzenTabsItem>
            


            </Tabs>
        </RadzenTabs>
    </div>
</div>

