@page "/dev"

@page "/doing"

@using Radzen
@using Radzen.Blazor
@using RadzenDh5.Models.Mark10Sqlexpress04
@using Microsoft.AspNetCore.Identity;
@using RadzenDh5.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject BlazorApp1.Data.PageService pageService;

<RadzenContent Container="main">
    <ChildContent>
        <RadzenHeading Size="H3" Text="Dev Note">
        </RadzenHeading>

        <div class="row">
            <div class="col-xl-12">
                <RadzenTabs>
                    <Tabs>


                        <RadzenTabsItem Text="Note">
                            <h3>
                                DB: 【@pageService.GetConnectionString()】
                            </h3>
                            <h3>
                                最近三個更新
                            </h3>
                            <ul>
                                <li>        【@pageService.GetLoginVersionReminderVer()】      @pageService.GetLoginVersionReminderDescription()             </li>
                                <li>        【@pageService.GetLoginVersionReminderVer(1)】      @pageService.GetLoginVersionReminderDescription(1)             </li>
                                <li>        【@pageService.GetLoginVersionReminderVer(2)】      @pageService.GetLoginVersionReminderDescription(2)             </li>

                            </ul>
                            <h3>
                
                         
                                @*,<a href="/dhlogin">dhlogin</a>   這是解析了密碼的加密解密*@
                            </h3>
                     

                        </RadzenTabsItem>
                        @*<RadzenTabsItem Text="Note 2">
                            <TodoS></TodoS>
                        </RadzenTabsItem>*@

                    </Tabs>
                </RadzenTabs>
            </div>
        </div>
    </ChildContent>
</RadzenContent>
