@page "/M010"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>M010 Page</h3>
<h4>Article Basic Data Maintain<br>货物基本数据维护<br>貨物基本數據維護<br>เก็บรักษาข้อมูลการขนส่งสินค้าพื้นฐาน<br></h4>
@code {

}
