@page "/M020"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>M020 Page</h3>
<h4>GTIN Basic Data Maintain<br>单位包装基本数据维护<br>單位包裝基本數據維護<br>สร้างหรืออัปเดตข้อมูลพื้นฐานของ GTIN<br></h4>
@code {

}
