@page "/M030"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>M030 Page</h3>
<h4>Storage Unit Type Basic Data Maintain<br>维护存储单元类型的基本数据<br>維護存儲單元類型的基本數據<br>ปรับปรุงข้อมูลพื้นฐานของประเภทหน่วยเก็บข้อมูล<br></h4>
@code {

}
