@page "/M040"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>M040 Page</h3>
<h4>Transfer Requirement Data Maintain<br>转储需求单数据维护<br>轉儲需求單數據維護<br>สร้างหรืออัปเดตข้อมูลความต้องการการถ่ายโอน<br></h4>
@code {

}
