@page "/M050"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>M050 Page</h3>
<h4>Delivery Order Data Maintain<br>发货单数据维护<br>發貨單數據維護<br>สร้างหรืออัปเดตข้อมูลคำขอส่งมอบ<br></h4>
@code {

}
