@page "/M060"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>M060 Page</h3>
<h4>Physical Inventory Count Data Maintain<br>盘点单数据维护<br>盤點單數據維護<br>สร้างหรืออัพเดทข้อมูลการนับสินค้าคงคลัง<br></h4>
@code {

}
