@page "/P040"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>P040 Page</h3>
<h4>Allocated Delivery Confirm/Cancel<br>确认/取消分配的订单<br>確認/取消分配的訂單<br>การยืนยัน/ยกเลิกคำสั่งซื้อที่จัดสรร<br></h4>
@code {

}
