@page "/P050"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>P050 Page</h3>
<h4>Picking order confirmation / cancellation<br>拣配指令确认/取消<br>揀配指令確認/取消<br>การยืนยัน / การยกเลิกของการเลือกคำสั่งซื้อ<br></h4>
@code {

}
