@page "/S070"
@attribute [Authorize]

<DhAppContainter ProgId="S070">
    <h3>本頁面不在項目需求內</h3>
    <h3>S070 Page</h3>
    <h4>Code Data Maintain<br>代码数据维护<br>代碼數據維護<br>สร้างหรือปรับปรุงข้อมูลรหัส<br></h4>
</DhAppContainter>